<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbHost</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>dbInstance</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>12345</param-value>
    </context-param>
    <context-param>
        <param-name>dbDatabaseName</param-name>
        <param-value>ProductIntro</param-value>
    </context-param>
    <listener>
        <description>RequestListener</description>
        <listener-class>listener.LoggingRequestListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>listener.SessionCreateListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>ProductController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>CategoryController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>AccountController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>CartController</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>AccountController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>ProductController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>CategoryController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>CartController</servlet-name>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error/notFound.html</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/error/conflict.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/forbidden.html</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
